# Created by .ignore support plugin (hsz.mobi)
tmp*
*.bak
*.diff
target/
.idea/
.classpath
.project
.settings/
*.iml
.tags*
build_info.properties
*.jar
dependency-reduced-pom.xml
.arcconfig
.DS_Store
